@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source "../**/*.blade.php";
@source "../**/*.js";
@source "../**/*.vue";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}


*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: inherit;
}

:root {
    --color--primary: #101820;
    --color--secondary: #FEE715;
    --color--tertiary: #fff;
    --font--size--paragraphs: 2rem;
    --font--size--headers: 4rem;
    --font--size--links: 2rem;
    --font--size--mobile: 1rem;
    --el--margins: 2rem;
    --el--margins--small: .2rem;
    --logo--width: 10rem;
    --logo--height: 10rem;
    --logo--width--mobile:5rem;
    --logo--height--mobile:5rem;
    --gap: 2rem;
    --small--gap: .2rem;
    --padding: 1rem;
    --border--radius: 1rem;
    --order--product--normal: 45rem;
    --order--product--mobile: 20rem;
    --padding--mobile: 0.6rem;
    --product--card--width: 35rem;
    --product--card--height: 35rem;
    --color--success: rgb(14, 126, 14);
    --color--fail: rgb(139, 12, 12);
    --transitions: all .2s;
    --fadein--duration: .5s;
}

.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color--primary);
    font-size: var(--font--size--links);
    width: 100%;
}

.header-div {
    margin: var(--el--margins);
}

.header-div__link {
    color: var(--color--secondary);
    font-size: var(--font--size--links);
    text-decoration: none;
    margin: var(--el--margins);
    transition: var(--transitions);
}

.header-div__link:hover {
    color: var(--color--tertiary);
}

.header-div__logo {
    background-image: url("../../public/images/logo.png");
    background-size: contain;
    width: var(--logo--width);
    height: var(--logo--height);
    transform: scale(2);
}


.thead-row {
    background-color: var(--color--primary);
    color: var(--color--secondary);
}


.most-sold-products {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: var(--gap);
    align-items: center;
    margin: var(--el--margins) auto;
    justify-content: space-around;
    animation: fadeIn ease-in-out var(--fadein--duration);
}


.most-sold-products .most-sold-products-div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: var(--gap);
    align-items: center;
    margin: var(--el--margins);
    justify-content: center;
    animation: fadeIn ease-in-out var(--fadein--duration);
}

.most-sold-products-div:nth-child(1) {
    align-self: flex-start;
}


.most-sold-products-div__heading {
    font-size: var(--font--size--headers);
}

.most-sold-products__table {
    border-collapse: collapse;
    margin: var(--el--margins);
}


.most-sold-products__table th,
.most-sold-products__table td {
    border-bottom: 2px solid var(--color--tertiary);
    padding: var(--padding);
    text-align: left;
    transition: var(--transitions);
}

.most-sold-products__table td {
    text-align: left;
}

.most-sold-products__table td a {
    color: var(--color--primary);
    text-decoration: none;
    transition: var(--transitions);
    border-bottom: 2px solid var(--color--primary);
}

.most-sold-products__table td a:hover {
    color: var(--color--secondary);
}


.singe-product-wrap {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color--tertiary);
    font-size: var(--font--size--paragraphs);
}

.single-product-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: var(--gap);
    margin: var(--el--margins);
}

.single-product-info div:nth-child(2) {
    align-self: center;
}

.single-product-info div:nth-child(3) {
    align-self: flex-end;
}

.single-product-info:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.single-product-container {
    background-color: var(--color--primary);
    padding: var(--padding);
    margin: var(--el--margins);
    border-radius: var(--border--radius);
    animation: fadeIn ease-in-out var(--fadein--duration);
}

.single-product-info__img {
    width: var(--order--product--normal);
    border-radius: var(--border--radius);
}

.single-product-info__about {
    align-self: start;
    max-width: 50%;
}

.single-product-info__order, .form-wrap-form__input--button {
    background-color: var(--color--secondary);
    color: var(--color--primary);
    padding: var(--padding);
    border:none;
    cursor: pointer;
    transition: var(--transitions);
}

.single-product-info__order:hover, .form-wrap-form__input--button:hover {
    background-color: var(--color--primary);
    color: var(--color--secondary);
}


.product-list-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


.product-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--small--gap);
    animation: fadeIn ease-in-out var(--fadein--duration);
    margin: var(--el--margins--small);
}

.product-card {
    position: relative;
    display: none;
    flex-direction: column;
    font-size: var(--font--size--paragraphs);
    width: calc(25% - var(--small--gap));
    height: var(--product--card--height);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: var(--transitions);
}



.product-card::after {
    position: absolute;
    content: "";
    background-color: var(--color--primary);
    opacity: 0.8;
    width: 100%;
    height: 100%;
}

.product-card-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    flex-direction: column;
    color: var(--color--secondary);
    z-index: 1;
    font-size: var(--font--size--paragraphs);
}

.product-card-info div {
    align-self: flex-start;
    margin-top: var(--el--margins);
}

.product-card-info__add {
    background-color: var(--color--primary);
    color: var(--color--secondary);
    padding: var(--padding);
    border: none;
    cursor: pointer;
    transition: var(--transitions);
    text-decoration: none;
    margin: var(--el--margins);
}

.product-card-info__add:hover {
    background-color: var(--color--secondary);
    color: var(--color--primary);
}


.form-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: var(--gap);
    align-items: center;
    justify-content: center;

}

.form-wrap-form {
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
    gap: var(--gap);
    align-items: center;
    justify-content: center;
    animation: fadeIn ease-in-out 1s;
}

.form-wrap-form__input {
    align-self: flex-start;
    padding: var(--padding);
}

.flash__success {
    position: absolute;
    top: 0;
    background-color: var(--color--success);
    color: var(--color--tertiary);
    padding: var(--padding);
    margin: var(--el--margins);
    z-index: 1;
}

.flash__fail {
    position: absolute;
    top: 0;
    background-color: var(--color--fail);
    color: var(--color--tertiary);
    padding: var(--padding);
    margin: var(--el--margins);
    z-index: 1;
}


@media (max-width: 1024px) {
    .product-card {
        width: calc(33.33% - var(--small--gap));
        height: calc(33.33% - var(--small--gap));
    }
    .product-card-info {
        font-size: var(--font--size--mobile);
    }
}

@media (max-width: 768px) {
    .product-card {
        width: calc(50% - var(--small--gap));
        height: calc(50% - var(--small--gap));
    }
}

@media (max-width: 480px) {
    .product-card {
        width: calc(50% - var(--small--gap));
        height: calc(50% - var(--small--gap));
        font-size: var(--font--size--mobile);
    }
}


@media (max-width: 600px) {
    .header-div__link {
        font-size: var(--font--size--mobile);
    }

    .header-div__logo {
        width: var(--logo--width--mobile);
        height: var(--logo--height--mobile);
    }

    .most-sold-products__table th,
    .most-sold-products__table td {
    padding: var(--padding);
    text-align: left;
    font-size: var(--font--size--mobile);
    }

    .single-product-info__img {
        width: var(--order--product--mobile);
        border-radius: var(--border--radius);
    }

    .singe-product-wrap {
        font-size: var(--font--size--mobile);
    }

    .single-product-info__order {
        font-size: var(--font--size--mobile);
        padding: var(--padding--mobile);
    }
    .product-card-info {
        font-size: var(--font--size--mobile);
    }
    .form-wrap-form__input {
        font-size: var(--font--size--mobile);
        padding: var(--padding--mobile);
    }
}



@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
